

{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <h2>Active Listings</h2>

    <div class="grid-container">
       
            <!-- <ul> -->
                {% for listing in active_listings %}
                    <div class="grid-item"> 
                    <!-- <li> -->
                        <a href="{% url 'view_listing' listing.id %}">
                            <img class="listing-image" src="{{listing.imageUrl}}" alt="">
                            {% if listing.image %}
                                <!-- {{listing.image.url}} -->
                                <img class="listing-image" src="{{listing.image.url}}" alt="" >
                            {% endif %}
                           
                        <p>{{listing.description }} </p> 
                        <p>{{listing.startingBid}}</p>   
                        <p>{{listing.id}} </p>    
                        <p>{{listing.isActive}} </p>  
                        </a>  
                    </div>
                {% endfor %}
                      
    </div>
{% endblock %}

<!-- <div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>
  </div> -->
  <!--          {{listing.imageUrl}} -->